
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 9999;
}

nav ul{
    display: flex;
    list-style: none;
    font-size: 25px;
    gap: 40px;
    align-self: flex-end;
    cursor: pointer;
}

nav ul li{
    transition: all 0.3s ease-in-out;
}

nav ul li:hover{
    transform: scale(1.1);
}


h1{
    font-size: 35px;
    color: white;
}

nav ul li:active{
    transform: scale(1.1);
}

i{
    margin-right: 8px;
}
