body{
    padding-top: 150px;
}


.section-heading{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}


.about-body{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: max-content;
    justify-content: space-around;
}

.about-text{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    font-size: 20px;
}

.profile-image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.profile-image{
    margin-left: 20px;
    margin-top: 20px;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}

.social-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
    border: 4px solid white;
    padding: 35px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.social-link:hover{
    transform: scale(1.1);
    background-color: rgb(0, 157, 255);
    color: black;
}

.skill-body{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: max-content;
    justify-content: space-around;
    margin-top: 40px;
}

.skill-list{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width:350px;
    align-items: center;
    padding: 10px;
}

.skill-list li{
    font-size: 20px;
    margin-bottom: 10px;
}

.list-heading{
    font-size: 24px;
    color: aqua;
}

.project-body{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: max-content;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card{
    border: 2px solid white;
    width: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.project-card:hover{
    transform: scale(1.05);
    border-color: aqua;
    cursor: pointer;
}

.contact-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: max-content;
    justify-content: center;
    align-items: center;
    gap: 20px;
}