@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');


:root {
  font-family: 'Pixelify Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000 40%, #10054F);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}
